.dropdown
  %button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
    .fas.fa-ellipsis-v
  .dropdown-menu{"aria-labelledby" => "taskMenu"}
    - available_events_for(@task).each do |state|                      
      = link_to state, trigger_task_path(@task, event: state, format: :js), remote: true, method: :patch, class: 'dropdown-item'                    